# Environnements virtuels
venv/

# Fichiers de dépendances Python
__pycache__/
*.pyc
*.pyo
*.env

# Node.js (frontend)
node_modules/
.env
.env.local
.env.production
.next/

# Autres fichiers inutiles
.DS_Store
*.log
.next/
